body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Roboto,
    Arial, sans-serif;
<<<<<<< HEAD
  color: rgb(223, 67, 67);
=======
  color: rgba(247, 54, 54, 0.762);
}
#logo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Roboto,
    Arial, sans-serif;
  color: rgba(247, 54, 54, 0.762);
  text-align: left;
}

#user-greeting {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  // border-bottom: 1px solid #ccc;
  // border-top: 1px solid #ccc;
}

#logo {
  float: left;
}

#greet-message {
  float: right;
}

#nav li {
  float: right;
}

#nav {
  width: 100%;
  float: right;
  margin: 1;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  // border-bottom: 1px solid #ccc;
  // border-top: 1px solid #ccc;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(228, 76, 65);
  // border-right: 1px solid #ccc;
}

h2 {
  margin: 0;
  padding: 0;
>>>>>>> 670e1d0... [Feature] Add React file structure and components. Add Homepage navigation bar.
}
