// @import "custom";
@import '~bootstrap/scss/bootstrap';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
    Arial, sans-serif;
  color: rgba(247, 54, 54, 0.762);
}

.profile-details {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
    Arial, sans-serif;
  color: rgba(247, 54, 54, 0.762);
  text-align: center;
}

#logo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
    Arial, sans-serif;
  color: rgba(247, 54, 54, 0.762);
  text-align: left;
  padding-left: 2em;
}

#user-greeting {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  // border-bottom: 1px solid #ccc;
  // border-top: 1px solid #ccc;
}

#logo {
  float: left;
}

#greet-message {
  float: right;
}

// .navbar {
//   background-color: #a8cfe9;
//   margin: 0px;
//   padding: 8px 15px;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
// }

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
    Arial, sans-serif;
  color: rgba(55, 55, 60, 0.762);
  text-align: center;
}

.homepage-content {
  text-align: center;
}

ul .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pledge {
  text-align: center;
}
