// @import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
    Arial, sans-serif;
  color: rgba(247, 54, 54, 0.762);
}
#logo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
    Arial, sans-serif;
  color: rgba(247, 54, 54, 0.762);
  text-align: left;
  padding-left: 2em;
}

#user-greeting {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  // border-bottom: 1px solid #ccc;
  // border-top: 1px solid #ccc;
}

#logo {
  float: left;
}

#greet-message {
  float: right;
}

.navbar {
  background-color: #a8cfe9;
  margin: 0px;
  padding: 8px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-selected {
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1em;
}

.nav-unselected {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
}

h2 {
  margin: 0;
  padding: 0;
}

.homepage-content {
  text-align: center;
}

ul .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
